.introduction {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.profilePicture {
  flex-shrink: 0;
}

.aboutSection {
  padding: 0 3rem;
}
.certification {
  /* this helps items to be side by side */
  display: flex;
  /* certification title and paragraph is more in the center instead
  of all the way at the top of the box */
  align-items: center;
}

/* this is the "my certifications intro" */
.introToCertificate {
  padding: 0 3rem;
}
.sectionTwo {
  margin-top: 5rem;
}

@media screen and (max-width: 1200px) {
  .introduction {
    flex-direction: column;
  }

  .profilePicture {
    margin-bottom: 1rem;
  }
}
