.PageSection {
  display: flex;
  align-items: center;
  margin: 3rem;
  padding: 3rem 0;
}

.introprojectparagraph {
  padding: 0 4rem 4rem;
  display: flex;
  justify-content: center;
}

.projtitle {
  padding: 3rem 0 2rem;
  text-align: center;
}
.projcontent {
  margin: 0 3rem;
  /* display: flex;
  justify-content: center; */
}
.projcontent2 {
  margin: 0 3rem;
  padding-left: 4rem;
  /* display: flex;
  justify-content: center; */
}
.collabcontent {
  margin: 3rem;
  padding: 4rem;
}
