@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(180deg, #eab3a2 0%, #8c5f79 100%);
  background-repeat: no-repeat;
  transition: 2s;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fce97f;
  animation: fadeBackground 8s;
  animation-fill-mode: forwards;
}

@keyframes fadeBackground {
  from {
    background-color: #857ffc;
  }
  to {
    background-color: #373e3b;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.button,
button {
  background-color: #8c5f79;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.button:focus,
.button:hover,
/* actual button tags */
button:focus,
button:hover {
  background-color: #785167;
  color: #fff;
  text-decoration: underline;
}

/* these are my override */
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: underline;
}

a:hover {
  color: plum;
}

/* Desktop */
.container {
  margin: 0 auto;
  width: 992px;
}

/* Mobile + Tablet */
@media screen and (max-width: 975px) {
  .container {
    width: 100%;
  }
  .button {
    background-color: blue;
  }
}

@media screen and (max-width: 668px) {
  .container {
    width: 100%;
  }
  .button {
    background-color: green;
  }
}
